<div class="row">
<p id="notice"><%= notice %></p>
  <div class="container">
    <div>
    <h1>Parking lots near Times Square, NY</h1></div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <div class="col-md-12 col-xs-12">
            <tr>
              <th>Parking lot name</th>
              <th>Price ($)</th>
              <th colspan="1"></th>
            </tr>
          </div>
        </thead>

        <tbody>
          <% @parkings.each do |parking| %>
            <tr>
              <td><%= parking.name %></td>
              <td><%= number_with_precision(parking.price, :precision => 2) %></td>
              <td><%= link_to "Pay", "/siteparking/sitepayments/#{parking.token}", class: 'btn btn-info btn-lg' %>  </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
  </div>
</div>