<div class="row">
	<div class="conatainer col-md-offset-1 col-xs-offset-1" style="width: 80%; ">
		<h1>Editing Billing</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @billing %>
		<%= link_to 'Back', billings_path %>
	</div>
</div>